<main class="container">

    <div class="switch">
        <button class="toggle">Dark Mode</button>

        <label>
            Dark Mode
            <input type="checkbox" role="switch">
        </label>
    </div>

    <h1>Social Media Dashboard</h1>
    <dl>
        <dt>Total Followers:</dt>
        <dd>23,004</dd>
    </dl>


    <ul class="cards-holder">
        {{#each dashboard }}
        {{> card-dashboard }}
        {{/each }}
    </ul>


    <h2>Overview - Today</h2>

    <ul class="cards-holder">
        {{#each overview }}
        {{> card-overview }}
        {{/each }}
    </ul>

</main>